.CredentialsForm {
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  margin: 0;
  top: 0;
  position: absolute;

  .card {
    width: 40%;
    align-self: center;
    margin: auto;
    margin-top: 5vh;
    text-align: left;

    .title {
      align-self: center;
      text-align: center;
    }

    .labels {
      margin-top: 2vh;
    }
  }

  .dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
